*{
    margin: 0;
    padding: 0;
}
header nav {
    height: 78px;
    width: 90%;
    margin: auto;
    padding: 16px 10px;
    
}

header li {
    display: inline-block;
    float: right;
    width: 10%;
    font-size: 19px;
    padding-top: 10px;
}
.logo {
    float: left;
    font-size: 30px;
    padding-top: 0px;
    text-align: left;
    width: 400px;
}
.light{
    float: left;
}
.highlight{
    float: left; 
}
header a {
    color: black;
    list-style-type: none;
    text-decoration: none;
}

#teacher{
background-color: coral;
    padding: 10px;
    text-align: center;
    border-radius: 20px;  
}
#teacher{
    color: coral;
}
#admin{
    background-color: beige;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    width: auto;
}
#content{
    height: 250px;
    position: relative;
 
}
#content p{
    width: 50%;      
    bottom: 15px;
    padding: 20px;
    text-align: left;
    font-size: 26px;
    color: black;
}
.image{
    float: right;
}
.image img{
   height: 400px;
   width: 400px;
}
.btnfree{
    background-color: coral;
    padding: 10px;
    text-align: center;
    border-radius: 20px;  
    height: 78px;
    width: 15%;
    margin: auto;
    float: left;
    font-size: 30px;
}
div a{
    text-decoration: none;
    list-style-type: none;
}
